Repository Br111t/notebook-to-prod-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-notebook, pip-audit

black-notebook:
  name: black (python + notebooks)
  entry: black
  language: python
  language_version: python3
  additional_dependencies:
  - black[jupyter]==24.1.0
  args:
  - --line-length=79

pip-audit:
  name: pip-audit (security check)
  entry: pip-audit
  language: system
  pass_filenames: false

eliminate the CVE failures
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

docs: insert project overview block under Quick Start
  .coveragerc
  .github/workflows/ci.yml
  README.md
  pyproject.toml
  pytest.ini
  src/notebook_service/main.py
  tests/conftest.py
  tests/notebook_service/test_main.py
Due: pip-audit

refactor: extract and clean NLU concepts in runner.preprocess_concepts()
  notebooks/example.ipynb
  pyproject.toml
  src/graph_builder.py
  src/notebook_service/cli.py
  src/notebook_service/emotion.py
  src/notebook_service/runner.py
  src/notebook_service/visualization.py
  src/notebook_service/visualize.py
  tests/notebook_service/test_visualization.py
Due: black-notebook, pip-audit

Fix failing pytest tests from previous merge attempt
  src/notebook_service/visualization.py
  tests/notebook_service/test_runner.py
Due: pip-audit

Fix: CI uses mock Watson in branches, real on main. Closes #4
  .github/workflows/ci.yml
Due: none

showing the confidence and cluster process: used exclusion of dbpedia links, modularized graph building and visualization, search for k.
  README.md
  notebooks/example.ipynb
  src/graph_builder.py
  src/notebook_service/config/dbpedia_exclusions.json
  src/notebook_service/graph_builder.py
  src/notebook_service/runner.py
  src/notebook_service/visualization.py
  tests/notebook_service/test_runner.py
Due: black-notebook, pip-audit

refactor(graph_builder): simplify threshold_undirected_graph signature
  notebooks/example.ipynb
  src/notebook_service/graph_builder.py
  src/notebook_service/visualization.py
  tests/notebook_service/test_visualization.py
Due: black-notebook, pip-audit

Update pyproject.toml changes (with python-louvain and adjustText in [project].dependencies
  pyproject.toml
Due: none

fix: remove arrowprops warning in adjust_text
  notebooks/example.ipynb
  src/notebook_service/visualization.py
Due: black-notebook, pip-audit

Add new features and improvements to notebook service
  .coveragerc-critical
  .github/workflows/ci.yml
  Dockerfile
  data/processed/concept_features.csv
  data/processed/extracted_features.json
  docker-compose.yml
  notebooks/semantic_feature_extraction.ipynb
  pytest.ini
  run.ps1
  scripts/list_cells.py
  scripts/list_imports.py
  src/notebook_service/cli.py
  src/notebook_service/main.py
  tests/notebook_service/test_cli.py
  tests/notebook_service/test_emotion.py
  tests/notebook_service/test_graph_builder.py
  tests/notebook_service/test_init.py
  tests/notebook_service/test_main.py
  tests/notebook_service/test_runner.py
  tests/notebook_service/test_visualization.py
Due: black-notebook, pip-audit

fix: update coverage report path in CI workflow and pytest configuration
  .github/workflows/ci.yml
  pytest.ini
Due: none

fix: enhance smoke test with health check and container naming
  .github/workflows/ci.yml
Due: none

Refactor Notebook Execution Service
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  README.md
  data/processed/concept_features.csv
  notebooks/semantic_feature_extraction.ipynb
  notebooks/sfe.ipynb
  pytest.ini
  src/notebook_service/emotion.py
  src/notebook_service/main.py
  src/notebook_service/runner.py
  src/notebook_service/schemas.py
  tests/conftest.py
  tests/notebook_service/test_main.py
  tests/notebook_service/test_runner.py
Due: black-notebook, pip-audit

fix: improve health check to validate NLU_CLIENT availability
  src/notebook_service/main.py
  tests/notebook_service/test_main.py
Due: pip-audit

feat(ci+helm): add ingress, Helm deploy, and Minikube integration
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  notebook-execution-service/Chart.yaml
  notebook-execution-service/templates/_helpers.tpl
  notebook-execution-service/templates/deployment.yaml
  notebook-execution-service/templates/ingress.yaml
  notebook-execution-service/templates/pvc.yaml
  notebook-execution-service/templates/secret.yaml
  notebook-execution-service/templates/service.yaml
  notebook-execution-service/values.yaml
Due: none

fix(ci): rebuild and deploy Minikube image inside workflow for stable Helm rollout
  .github/workflows/ci.yml
  notebook-execution-service/templates/deployment.yaml
  notebook-execution-service/values.yaml
Due: none

docs: helm
  README.md
Due: none

Path conditions:
  black-notebook: any of: ^notebooks/.*\.ipynb$
  pip-audit: any of: \.py$
